:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

h1 {
  font-size: 96px;
}

h1,
h2 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.hero {
  text-align: center;
  background: var(--secondary-color);
  padding: 160px 20px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 2;
  font-size: 28px;
}

.btn-primary {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
}
