:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: black;
  font-weight: 400;
  line-height: 1.5;
}

.hero {
  text-align: left;
  padding: 60px 20px;
}

h1 {
  font-family: "Big Shoulders Inline", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.5;
  margin-left: 17px;
  text-align: left;
  display: inline-block;

  background: linear-gradient(90deg, #ff6ec4, #b384f5, #4b0082);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  /* Make sure the gradient stretches over all words */
  background-size: 100% 100%;
}

h2 {
  font-family: "ancizar sans", "sans-serif";
  font-weight: 300;
  font-size: 45px;
  color: white;
  line-height: 1.5;
  margin-left: 17px;
  text-align: left;
}

.btn-primary {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
}
